<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674379051032-pcmnq3htre09rpgjmhkkc56lftqjh9bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674379051032-pcmnq3htre09rpgjmhkkc56lftqjh9bl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>674379051032-l5f7dte44t571f17ed8o3c55611loic2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwM2V5M83pk150-Q69s3XsQstq_YpKvCM</string>
	<key>GCM_SENDER_ID</key>
	<string>674379051032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreApp</string>
	<key>PROJECT_ID</key>
	<string>firestore-demo-660d1</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-demo-660d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674379051032:ios:ae9c2e04d93b9f847a936d</string>
</dict>
</plist>